.line {
  font-family:Arial;
  font-weight:bold;
  background-color:#afeeee;
  text-align:center;
  margin-top:20px;
margin-bottom: 10px;
  font-size:60px;
}
.left {
  position: relative;
	float:left;
	width:9%;
	height: 500px;
	background-color: #20b2aa;
	margin-bottom: 10px;
  
}
.right {
  position: relative;
	float: right;
	width: 90%;
	height: 500px;
	background-color: #e0ffff;
	margin-bottom: 10px;
}
a {
	text-decoration: none;
	font-size: 14px;
	color: black;
}
a:hover {
	font-weight: bold;
	color: #668b8b;
}
span {
	font-size: 16px;
	font-weight: bold;
}
p {
	font-family: Arial;
}
.schulen {
	float:center;
}
.sprache {
	font-size: 12px;
}
#footer {
	font-weight:bold;
        background-color:#afeeee;
        text-align:center;
        margin-top:20px;
	position:relative;
	height: 50px;
	clear: both;
}
li {
	font-family:Arial;
}
	
  
  
  
  
